<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Afvtopandroid"
        tools:targetApi="31">
        <activity
            android:name=".ProdutosActivity"
            android:exported="false"
            android:label="Produtos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CadastroClienteActivity"
            android:exported="false"
            android:label="Cadastrar cliente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientesActivity"
            android:exported="false"
            android:label="Clientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SincronizacaoActivity"
            android:exported="false"
            android:label="Sincronização"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Home"
            android:screenOrientation="portrait" />
    </application>

</manifest>